# Ignorar dependencias de Node
/front/node_modules/
node_modules/

# Ignorar binarios compilados de Rust en el back
/back/target/

# Ignorar variables de entorno
.env

OpenWA/

repomix-output.md
repomix-output.xml
